[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django = "*"
djoser = "*"
djangorestframework-simplejwt = "~=5.3.1"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"
